
<!-- <app-connect></app-connect> -->
<!-- <app-home></app-home>

<router-outlet></router-outlet> -->
<!-- <router-outlet>
<div id='cssmenu'>
  <ul>
    <a routerLink="/allTests" routerLinkActive="active">All Tests</a>
    <a routerLink="/runBuild" routerLinkActive="active">Run Build</a>
    <a routerLink="/reportDetails" routerLinkActive="active">Reports</a>
    <a routerLink="/users" routerLinkActive="active">Manage Users</a>
    <a routerLink="/managereports" routerLinkActive="active">Manage Reports</a> -->
    <!-- <li><a [routerLink]="['']">Home</a></li>
    <li><a [routerLink]="['allTest']">All Tests </a></li>
    <li><a [routerLink]="['runBuild']">Run Build</a></li>
    <li><a [routerLink]="['reportDetails']">Reports</a></li>
    <li><a [routerLink]="['users']">Manage Users</a></li>
    <li><a [routerLink]="['managereports']">Manage Reports</a></li> -->
  <!-- </ul>
  </div> -->
 <!-- </router-outlet> -->
