<!-- <p>home works!</p>
<!DOCTYPE html> -->
<html lang="en">
<head>
    <!-- <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FormConnect</title>
    <link rel="stylesheet" href="style.css"> -->
   <!--- <script defer src="OPCloud.ts"></script>-->
</head>
<body>
    <form id="form" action="homePage.html" method="GET">
        <h1>Welcome to OPCloud Software Integrity Management System</h1>
        <div class="inset" >
        <p>
          <label for="email">EMAIL ADDRESS</label>
          <input type="text" name="email" id="email">
        </p>
        <p>
          <label for="password">PASSWORD</label>
          <input type="password" name="password" id="password">
        </p>
        <p>
          <input type="checkbox" name="remember" id="remember">
          <label for="remember">Remember me for 14 days</label>
        </p>
        </div>
        <p class="p-container">
          <span>Forgot password ?</span>
          <input type="submit" name="go" id="go" value="Log in">
        </p>
        <li><a [routerLink]="['home']">Log in</a></li>
        <!-- <a href="../home/home.component.html" class="btn">Log in</a> -->
        <form action="../home/home.component.html" >
          <button type="submit">Click</button>
        </form>

      </form>
   </body>
</html>
