<head>
    <title>Test History</title>
</head>
<body>
    <div >
        <input type="button" value="Go Back" onclick="history.go(-1)">
    </div>
    <h1>Test History</h1>
    <br><br>
    <label>Test ID</label><br><br>
    <label>Group</label><br><br>
    <label>Test Title</label><br><br>
    <label>Success Rates</label><br><br>
    <br>
    <p><strong>This test was part of the following builds</strong></p>
    <table class="table-fill">
        <thead>
        <tr>
        <th class="text-left">Build ID</th>
        <th class="text-left">Environment</th>
        <th class="text-left">Test Status</th>
        <th class="text-left">Date</th>
        <th class="text-left">Build Status</th>
        </tr>
        </thead>
        <tbody class="table-hover">
        <tr>
        <td class="text-left">21</td>
        <td class="text-left">Trunk</td>
        <td class="text-left">Running</td>
        <td class="text-left">10/04/2020</td>
        <td class="text-left">Faild</td>
        </tr>
        </tbody>
        </table>
        </body>

