<head>
    <title>Test Details</title>
</head>
<body>
    <div >
        <input type="button" value="Go Back" onclick="history.go(-1)">
    </div>
    <h1>Test Details</h1>
    <br><br>
    <label>Test ID</label><br><br>
    <label>Category</label><br><br>
    <label>Group</label><br><br>
    <label>Test Case</label><br><br>
    <label>Test Title</label><br><br>
    <label>Symbol</label><br><br>
    <label>Test Summary</label><br><br>
    <label>Test Steps</label><br><br>
    <label>Test Data</label><br><br>
    <label>Expected Result</label><br><br>
    <label>Notes</label><br><br>

    <br>
    <div class="hot-container">
        <br>
        <button routerLink="/TestHistory">See Test History</button>
        <!-- <button><a routerLink="/">See Test History</a></button> -->
        <button><a routerLink="/">Edit Test</a></button>
        <button><a routerLink="/">Detlete Test</a></button>
    </div>

        </body>
